.container {
  display: flex;
  justify-content: space-between;
  /*padding-top: 60px;*/
}

.box {
  flex: 1;
  padding: 80px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
  height: 50vh;
  margin-top: 65px;
}

.selection {
  min-height: 100vh;
}

.cards {
  flex: 4;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  margin-top: 65px;
}
