.Request-container {
    position: relative;
}

.Request-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.Request-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.Request-container:hover .Request-image {
    opacity: 0.3;
}

.Request-container:hover .Request-middle {
    opacity: 1;
}

.Request-text {
    color: blue;
    font-size: 16px;
    padding: 16px 32px;
}